@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    box-sizing: border-box;
  }

  .grid-list-selector {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.25rem;
  }

  .grid-list-items {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 67vh;
    margin-top: 0.69rem;
    background-color: azure;
    overflow: auto;
  }

  .grid-postfeed {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
  }

  .white-btn {
    background-color: #fdfdfd;
    /* border: none; */
    color: #08090a;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  main {
    max-height: 90vh;
  }

  Link {
    cursor: pointer;
  }
}
